body{
display: flex;
justify-content: center;
}

table{
border-collapse: collapse;
}

td{
padding: 10px;
border: 1px solid black;
}

.main{
font-weight: 700;
font-size: 16px;
text-align: center;
background-color: lightgray;
}
